{% extends "index.html" %}

{% block films %}
<div class="wrapper">
    <div class="main">
        <div class="section section-tabs">
            <div class="container">
                <h1 class="title">Films
                                <small style="text-transform: capitalize; font-size: 50%;">{{movies | length}} films Found</small>
                </h1>
                    <form action="/films/find" id="formulario" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                                <input type="text" name="title" class="form-control" placeholder="Buscar filme...">
                                    <button class="btn-search input-group-text" type="submit" name="btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                        </div>
                    </form>
                <div class="row">
                    {% for movie in movies %}
                    <div class="col-md-6 ml-auto col-xl-6 mr-auto">
                        <!-- Tabs with Background on Card -->
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist"
                                    data-background-color="orange">
                                    <li class="nav-item">
                                        <a class="nav-link" href="details?url={{movie.url}}">
                                            {{movie.title}}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <p class="nav-link active">{{movie.release_date}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                        <p>{{movie.opening_crawl}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Section Tabs -->
</div>
{% endblock %}