
{% extends "index.html" %}
{% block form %}
 <div class="wrapper">
    <div class="section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist"
                  data-background-color="orange">
                  <li class="nav-item">
                    ADD
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <form class="form" action="add" method="post">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Episode</label>
                    <div class="col-sm-10">
                      <input type="number" min='1' class="form-control" name="episode_id" placeholder="Episode Number">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Opening Crawl</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" name="opening_crawl" placeholder="Opening Crawl"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Director</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="director" placeholder="Director">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Producer</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="producer" placeholder="Producer">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Release date</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" min='1800-12-01' name="release_date" >
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <button type="reset" class="btn btn-secondary btn-round btn-lg btn-block">Clean</button>
                      </div>
                      <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Add</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock %}