{% extends "index.html" %}

{% block login %}
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" style="background-image:url(./assets/img/sw-header.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-4 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" action="films/login" method="post">
              <div class="card-header text-center">
                  <h1>SWAPI</h1>
                  <h4>Restricted Area</h4>
              </div>
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" name = "nome" placeholder="Nome">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons text_caps-small"></i>
                    </span>
                  </div>
                  <input type="password" name = "senha" placeholder="Senha" class="form-control" />
                </div>
              </div>
              <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}