{% extends "index.html" %}
{% block error %}
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/sw-header.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h3>{{error}}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}