{% extends "index.html" %}
{% block initial %}
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/sw-header.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo rounded img-raised" src="./assets/img/sw-logo.jpg" alt="">
                <h1 class="h1-seo">Python + Flask Sample Web Application</h1>
                <h3>Search films from Star Wars API.</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}